wheel
tqdm
lightning
hydra-core
jaxtyping
beartype
wandb
einops
colorama
numpy==1.26.4
scikit-image
colorspacious
matplotlib
moviepy==1.0.3
imageio
timm
dacite
lpips
e3nn==0.5.9
plyfile
tabulate
svg.py
scikit-video
opencv-python==4.11.0.86
open3d==0.18.0
